{% assign pj = section.settings %}
{{ 'account.css' | asset_url | stylesheet_tag }}


<div id="account_template">
    <div id="customer">
        <div class="account_template_header">
            <h1 class="account_template_title" style="color: {{ pj.login_header_color }};">{{ pj.login_header }}</h1>
            <p class="account_template_description" style="color: {{ pj.login_desc_color }};">{{ pj.login_desc }}</p>
        </div>

      <div id="reset-password-form">
        {% form 'reset_customer_password' %}
            {{ form.errors | default_errors }}

            <div style="width: 100%;" id="login_password" class="clearfix large_form">
                <label id="login_password_label" style="color: {{ pj.login_password_label_color }};" for="customer_password" class="login account_input_label">Password</label>
                <input style="
                        color: {{ pj.login_password_input_text_color }};
                        background: transparent;
                        border-radius: {% if pj.enable_login_border_radius %} 4px {% else %} 0px {% endif %};
                        border: 0.5px {{ pj.login_password_input_border_color }} solid;" type="password" value="" name="customer[password]" id="customer_password" class="large password account_input" size="30" />
            </div>

                <div style="width: 100%;" id="login_password" class="clearfix large_form">
                    <label id="login_password_label" style="color: {{ pj.login_password_label_color }};" for="customer_password" class="login account_input_label">Password Confirmation</label>
                    <input style="
                            color: {{ pj.login_password_input_text_color }};
                            background: transparent;
                            border-radius: {% if pj.enable_login_border_radius %} 4px {% else %} 0px {% endif %};
                            border: 0.5px {{ pj.login_password_input_border_color }} solid;" type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password account_input" size="30" />
                </div>

            <div class="account_action_bottom" style="
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        ">
                <input style="
                        width: 100%;
                        height: 44px;
                        border-radius: {% if pj.enable_login_border_radius %} 4px {% else %} 0px {% endif %};
                        border-color: transparent;
                        background-color: {{ pj.login_btn_color }};
                        font-size: 20px;
                        color: {{ pj.login_btn_txt_color }};
                        cursor: pointer;
                        "
                       class="account_action_btn" type="submit" value="Reset Password" />
            </div>
        {% endform %}
      </div>
    </div>


</div>


{% schema %}
{
  "name": "Login Form",
  "settings": [
    {
      "type": "header",
      "content": "Login Header"
    },
    {
      "type": "text",
      "id": "login_header",
      "label": "Header Text",
      "default": "Reset Password"
    },
    {
      "type": "color",
      "id": "login_header_color",
      "label": "Header Text Color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "login_desc",
      "label": "Sub-Header Text",
      "default": "Its okay. We all all forget our passwords sometimes :)"
    },
    {
      "type": "color",
      "id": "login_desc_color",
      "label": "Sub-Header Text Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Email Field"
    },
    {
      "type": "color",
      "id": "login_email_label_color",
      "label": "Label Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "login_email_input_border_color",
      "label": "Input Border Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "login_email_input_text_color",
      "label": "Input Text Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Password Field"
    },
    {
      "type": "color",
      "id": "login_password_label_color",
      "label": "Password Label Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "login_password_input_border_color",
      "label": "Input Border Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "login_password_input_text_color",
      "label": "Input Text Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Login Button"
    },
    {
      "type": "color",
      "id": "login_btn_color",
      "label": "Button Color",
      "default": "#FE0000"
    },
    {
      "type": "color",
      "id": "login_btn_txt_color",
      "label": "Button Text Color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Login Error Info"
    },
    {
      "type": "color",
      "id": "login_errors_color",
      "label": "Login Error Color",
      "default": "#FE0000"
    },
    {
      "type": "header",
      "content": "Register Link"
    },
    {
      "type": "text",
      "id": "login_register",
      "label": "Register Text",
      "default": "Register Now"
    },
    {
      "type": "color",
      "id": "login_register_color",
      "label": "Register Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Forgot Password Link"
    },
    {
      "type": "text",
      "id": "login_forget_password",
      "label": "Forgot Password Text",
      "default": "Forgot Password?"
    },
    {
      "type": "color",
      "id": "login_forget_password_color",
      "label": "Forgot Password Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Back To Store Link"
    },
    {
      "type": "text",
      "id": "login_back_store_text",
      "label": "Back To Store Text",
      "default": "Back To Store"
    },
    {
      "type": "color",
      "id": "login_back_store_color",
      "label": "Back To Store Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Misc"
    },
    {
      "type": "checkbox",
      "id": "enable_login_border_radius",
      "label": "Enable Radius On Inputs & Buttons",
      "default": false
    }
  ]
}
{% endschema %}