{% comment %}ANOUNCEMENT BAR LOGIC{% endcomment %}
{% if template.name != 'password' %}

  {%- if settings.show_announcement_bar -%}
    {%- assign show_on_page = true -%}

    {%- if template == 'index' and settings.show_announcement_bar_on_home != true -%}
      {%- assign show_on_page = false -%}
    {%- elsif template == 'collection' and settings.show_announcement_bar_on_collection != true -%}
      {%- assign show_on_page = false -%}
    {%- elsif template == 'product' and settings.show_announcement_bar_on_product != true -%}
      {%- assign show_on_page = false -%}
    {%- endif -%}

    {% if template.suffix contains 'space' %}
      {%- assign show_on_page = false -%}
    {%- endif -%}

    {%- if show_on_page -%}
      <div class="text-block {% if settings.enable_announcement_floater %} announcement-floater-enabled {% endif %}" 
                        style="
                        padding: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 2;
                {% if settings.enable_announcement_shadow %}
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
                {% endif %}
                {% if settings.enable_large_announcement_bar %}
                        height: 52px;
                {% endif %}
                {% if settings.enable_announcement_floater %}
                    {% if template == 'index' %}
                            position: absolute !important;
                            left: 50%;
                            transform: translateX(-50%);
                    {% endif %}
                    {% if settings.enable_announcement_floater_radius %}
                        {% if template != 'collection' %}
                                border-radius: 4px;
                        {% endif %}
                    {% endif %}
                    {% if template == 'collection' %}
                    {% elsif page.template_suffix contains 'about' %}
                    {% elsif page.template_suffix contains 'lookbook' %}
                    {% elsif template == 'page' %}
                    {% else %}
                            width: 92%;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 20px;
                            margin-bottom: 20px;
                    {% endif %}
                {% endif %}
                {% if template == 'index' %}
                        position: absolute;
                {% endif %}
                {% if settings.enable_moving_announcement == false %}
                        text-align: center;
                {% endif %}
                        font-size: {{ settings.announcement_text_size }}px;
                {% if template == 'index' %}
                        background-color: {{ settings.announcement_background_color_home_page }};
                        color: {{ settings.announement-text-color-home-page }};
                {% elsif template == 'collection' %}
                        background-color: {{ settings.announcement_background_color_collection_page }};
                        color: {{ settings.announement-text-color-collection-page }};
                {% elsif template == 'product' %}
                        background-color: {{ settings.announcement_background_color_product_page }};
                        color: {{ settings.announement-text-color-product-page }};
                {% else %}
                        background-color: {{ settings.announcement_background_color }};
                        color: {{ settings.announement-text-color }};
                {% endif %}
                        ">
        <p
          {% if settings.enable_moving_announcement %}
          class="marquee"
          {% endif %}
          style="margin-bottom: 0;">
          <span>{{ settings.announcement_text }}</span>
        </p>

   

      </div>
    {% endif %}
  {% endif %}
{% endif %}
{% comment %}ANOUNCEMENT BAR LOGIC END{% endcomment %}


{% if template.name != 'password' and settings.show_announcement_bar %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var announcementBar = document.querySelector('.text-block.announcement-floater-enabled');
      var collectionDisplay1 = document.getElementById('collection-products-display-1');

      if (!announcementBar || !collectionDisplay1) return;

      announcementBar.style.width = '92%';
      announcementBar.style.marginLeft = 'auto';
      announcementBar.style.marginRight = 'auto';
      announcementBar.style.marginTop = '20px';
      announcementBar.style.marginBottom = '20px';
    });
  </script>
{% endif %}
