{% assign pjCnfg = section.settings %}

{% if pjCnfg.password_bg_style == 'image' %}
    <link rel="preload" href="{{ 'slider.css' | asset_url }}" as="style">
    <link rel="stylesheet" href="{{ 'slider.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{{ 'slider.css' | asset_url }}"></noscript>
    <div class="blaze-slider" style="position: fixed; z-index: -1;">
        <div class="blaze-container">
            <div class="blaze-track-container">
                <div class="blaze-track">
                    {% if pjCnfg.bg_slide_1 %}
                        <div class="slide slide-1" style="background-image: url({{ pjCnfg.bg_slide_1 | image_url: width: 1920}})"></div>
                    {% endif %}
                    {% if pjCnfg.bg_slide_2 %}
                        <div class="slide slide-2" style="background-image: url({{ pjCnfg.bg_slide_2 | image_url: width: 1920}})"></div>
                    {% endif %}
                    {% if pjCnfg.bg_slide_3 %}
                        <div class="slide slide-3" style="background-image: url({{ pjCnfg.bg_slide_3 | image_url: width: 1920}})"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="password-bg-overlay" style="
            width: 100%;
            height: 100%;
            pointer-events: none;
            top: 0;
            z-index: -1;
            background-color: {{ pjCnfg.password_bg_overlay_color | color_modify: 'alpha', pjCnfg.password_bg_overlay_opacity }};
            position: fixed;">
    </div>
{% elsif pjCnfg.password_bg_style == 'video' %}
    <div class="password-video-container" style="
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    ">
        <div class="password-bg-overlay" style="
                width: 100%;
                height: 100%;
                background-color: {{ pjCnfg.password_bg_overlay_color | color_modify: 'alpha', pjCnfg.password_bg_overlay_opacity }};
                position: fixed;
                z-index: -1;
                "></div>
        <video
                autoplay
                muted
                defaultmuted
                oncontextmenu="return false;"
                preload="metadata"
                playsinline
                loop
                class="password-video"
                style="
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: none;
      ">
            {% for source in section.settings.video.sources %}
                {% if source.mime_type == 'video/mp4' %}
                  <source src="{{ source.url }}" type="video/mp4">
                {% endif %}
            {% endfor %}
        </video>
    </div>
{% elsif pjCnfg.password_bg_style == 'color' %}
    <div
            style="
                    z-index: -2;
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                    transform: none;
                    background-color: {{ pjCnfg.password_bg_color }};
                    position: fixed;
                    ">
    </div>
{% endif %}


{% if pjCnfg.password_bg_style == 'image' %}
    {{ 'slider.js' | asset_url | script_tag: defer: true }}
    <script>
        const el = document.querySelector('.blaze-slider')
        new BlazeSlider(el, {

            all: {
                enableAutoplay: true,
                autoplayInterval: 3000,
                transitionDuration: 1000,
                slidesToShow: 1,
                loop: true,
                stopAutoplayOnInteraction: false,
                slideGap: '0px'
            }
        })
    </script>
{% endif %}





{% schema %}
{
  "name": "Page Canvas",
  "settings": [

{
  "type": "header",
  "content":  "Page Canvas"
},
{
"type": "select",
"id": "password_bg_style",
"label": "Background Style",
"options": [
{
"value": "video",
"label": "Video"
},
{
"value": "image",
"label": "Slideshow"
},
{
"value": "color",
"label": "Solid Color"
}
],
"default": "color"
},

{
 "type": "video",
 "id": "video",
 "label": "Select video"
},
{
"type": "image_picker",
"id": "bg_slide_1",
"label": "Slide 1"
},
{
"type": "image_picker",
"id": "bg_slide_2",
"label": "Slide 2"
},
{
"type": "image_picker",
"id": "bg_slide_3",
"label": "Slide 3"
},
{
"type": "color",
"id": "password_bg_color",
"label": "Background Color",
"default": "#FFF"
},
{
"type": "header",
"content":  "Background Settings"
},
{
"type": "color",
"id": "password_bg_overlay_color",
"label": "Background Overlay Color",
"default": "#000"
},
{
"type": "range",
"id": "password_bg_overlay_opacity",
"min": 0,
"max": 1,
"step": 0.1,
"unit": "px",
"label": "Background Overlay Opacity",
"default": 0
}
  ]
}
{% endschema %}
