{% style %}
  .page-text-section {
    padding: {{ section.settings.vertical_padding }}px {{ section.settings.horizontal_padding }}px;
    max-width: {{ section.settings.content_width }}px;
    margin: 10px auto 20px;
  }

  .page-text-content {
    text-align: {{ section.settings.text_alignment }};
  }

  @media screen and (max-width: 768px) {
    .page-text-section {
      padding: {{ section.settings.vertical_padding | divided_by: 1.5 | round }}px {{ section.settings.horizontal_padding | divided_by: 1.5 | round }}px;
      max-width: 100%;
    }
  }
{% endstyle %}

<div class="page-text-section">
  <div class="page-text-content">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "Page Text",
    "settings": [
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 400,
        "max": 1600,
        "step": 100,
        "unit": "px",
        "label": "Content Width",
        "default": 800
      },
      {
        "type": "range",
        "id": "vertical_padding",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Vertical Padding",
        "default": 40
      }, {
        "type": "range",
        "id": "horizontal_padding",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Horizontal Padding",
        "default": 20
      }
    ],
    "presets": [
      {
        "name": "Page Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}