{% assign pjCnfg = section.settings %}
<!--   CUSTOMER INFO SECTION   -->
{% if pjCnfg.show_footer_message %}
    <div class="no-flick password-information-container"
         style="{% if pjCnfg.show_customer_info_box == false %} background: none !important; {% endif %}
                 --password-info-container-color: {{ pjCnfg.customer_info_box_color | color_modify: 'alpha', pjCnfg.customer_info_box_opacity }};"
    >
        <div>
            {% if pjCnfg.show_customer_info_title %}
                <p style="color: {{ pjCnfg.customer_info_store_header_txt_color }}" class="password-waitlist-text">
                    {{ pjCnfg.customer_info_store_header_txt }}
                </p>
            {% endif %}

            {% if pjCnfg.show_customer_info_txt %}
                <p style="color: {{ pjCnfg.customer_info_txt_color }}" class="{% if pjCnfg.switch_timer_info %} password-customer-text {% else %}  password-customer-text-2  {% endif %}">
                    {{ pjCnfg.customer_info_txt }}
                </p>

            {% endif %}
        </div>
        {% if pjCnfg.show_customer_email_form %}

            <div class="{% if pjCnfg.switch_timer_info %} password-email-form-container {% else %}  password-email-form-container-2  {% endif %}">

                {% form 'customer', class: "password-page-countdown-form" %}
                    <input style="background-color: {{ pjCnfg.customer_email_form_color }}; color: {{ pjCnfg.customer_email_form_txt_color }}"
                           placeholder="Enter Email" type="email" name="contact[email]" class="password-email">
                    <input
                            class="password-email-btn"
                            style="background-color: {{ pjCnfg.customer_email_submit_btn_color }};color: {{ pjCnfg.customer_email_submit_btn_txt_color }};"
                            type="submit" value="JOIN" />
                {% endform %}
            </div>
        {% endif %}
    </div>
{% endif %}


{% schema %}
{
"name": "Customer Footer Section",
"settings": [
  {
    "type": "checkbox",
    "id": "show_footer_message",
    "label": "Show Footer message",
    "default": true
  },

{
"type": "header",
"content": "Set Store Message"
},
{
"type": "text",
"id": "customer_info_store_header_txt",
"label": "Store Message Title",
"default": "We'll Be Back",
"info": "NOTE: Keep below 30 characters for better display across devices."
},
{
"type": "textarea",
"id": "customer_info_txt",
"label": "Store Message Content",
"default": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex pariatur, eius ab ipsa voluptatibus fugit numquam maxime obcaecati magni quos. Accusantium illo veniam natus expedita tempora quaerat incidunt architecto debitis!",
"info": "NOTE: Keep below 225 characters for best display across devices."
},

{
"type": "header",
"content": "Store Message Settings"
},
{
"type": "checkbox",
"id": "show_customer_info_title",
"label": "Show Store Message Title",
"default": true
},
{
"type": "checkbox",
"id": "show_customer_info_box",
"label": "Show Store Message Background",
"default": true
},
{
"type": "checkbox",
"id": "show_customer_info_txt",
"label": "Show Store Message Text",
"default": true
},
  {
"type": "checkbox",
"id": "show_customer_email_form",
"label": "Show Email Form",
"default": true
},

{
"type": "range",
"id": "customer_info_box_opacity",
"min": 0,
"max": 1,
"step": 0.1,
"unit": "px",
"label": "Store Message Background Opacity",
"default": 0.5
},
{
"type": "header",
"content": "Store Message Colors"
},
{
"type": "color",
"id": "customer_info_box_color",
"label": "Store Message Background",
"default": "#000"
},
{
"type": "color",
"id": "customer_info_store_header_txt_color",
"label": "Store Title",
"default": "#fff"
},

{
"type": "color",
"id": "customer_info_txt_color",
"label": "Store Message Text",
"default": "#FFF"
},

{
"type": "color",
"id": "customer_email_form_color",
"label": "Email Input",
"default": "#ffffff"
},
{
"type": "color",
"id": "customer_email_form_txt_color",
"label": "Email Input Text",
"default": "#000"
},
{
"type": "color",
"id": "customer_email_submit_btn_color",
"label": "Email Submit Button",
"default": "#000"
},
{
"type": "color",
"id": "customer_email_submit_btn_txt_color",
"label": "Email Submit Button Text",
"default": "#fff"
}]
}
{% endschema %}
